/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/visually-hidden';
@import './base/container';
@import './base/common';


@import './components/btn';
@import './components/title';
// @import './components/logo'

@import './layout/header';

@import './layout/hero';
@import './layout/advantages';
@import './layout/problems';
@import './layout/how-we-do';
@import './layout/program';
@import './layout/benefits';
@import './layout/about';
@import './layout/guarantee';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';

