<section class="section section-advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <p class="advantages-list__text">Adapted author's UPE program</p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__text">
          Modern <br />
          teaching methods
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__text">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
