<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-container advantages-container-first">
          <p class="advantages-text advantages-text-first">Adapted author's UPE program</p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-container advantages-container-second">
          <p class="advantages-text advantages-text-secondary">
            Modern <br />
            teaching methods
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-container advantages-container-third">
          <p class="advantages-text advantages-text-third">Financial guarantee the result</p>
        </div>
      </li>
    </ul>
  </div>
</section>
