<footer>
    <section class="footer__contacts-section">
        <a href="" class="link footer-logo">
            <svg class="contact__svg" width="80px" height="29px">
                <use href="/images/symbol-defs-taras.svg#logo"></use>
            </svg>
        </a>
        <ul class="list contacts-list">
            <li class="contacts-list__item">
                <a class="link contact contacts-tel" href="tel:+380000000000">
                    <svg class="contact__svg" width="20px" height="19px">
                        <use href="/images/symbol-defs-taras.svg#footer-tel-icon"></use>
                    </svg>+38 (000) 000 00 00</a>
            </li>
            <li class="contacts-list__item">
                <a href="" class="link footer__insta-logo">
                    <svg class="insta-logo__svg" width="40px" height="40px">
                        <use href="/images/symbol-defs-taras.svg#footer-instagram-icon"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </section>
    <section class="footer__copyright-section">
        <p class="copyright-section__text">@ All rights reserved, 2019</p>
    </section>
</footer>