<footer>
    <section class="footer__contacts-section section">
        <h2 class="visually-hidden">Our contacts</h2>
        <div class="container">
            <div class="footer-wrapper">
                <a href="/" class="logo footer-logo" aria-label="logo site">
                    <svg class="logo__icon-dark-mobile">
                        <use href="images/icons.svg#icon-logo-dark-mobile"></use>
                    </svg>
                </a>
                <ul class="list contacts-list">
                    <li class="contacts-list__item contacts-list__tel">
                        <a class="link contact contacts-tel" href="tel:+380000000000">
                            <svg class="contact-tel__svg">
                                <use href="/images/sprite.svg#footer-tel-icon"></use>
                            </svg>
                            <span class="contact-tel__span">+38 (000) 000 00 00</span>
                        </a>
                    </li>
                    <li class="contacts-list__item contacts-list__insta-icon">
                        <a href="/" class="link footer__insta-logo" target="_blank" rel="noreferrer noopener">
                        </a>
                    </li>
                </ul>

            </div>
        
               
        

        </div>
        <p class="copyright-section__text">@ All rights reserved, 2019</p>
    </section>
</footer>