<footer>
    <section class="footer__contacts-section">
        <a href="" class="link footer-logo">
            <svg class="contact__svg" width="80px" height="29px">
                <use href="/images/symbol-defs-taras.svg#logo"></use>
            </svg>
        </a>
        <ul class="list contacts-list">
            <li class="contacts-list__item contacts-list__tel">
                <a class="link contact contacts-tel" href="tel:+380000000000">
                    <svg class="contact-tel__svg">
                        <use href="/images/symbol-defs-taras.svg#footer-tel-icon"></use>
                    </svg>
                    <spun class="contact-tel__spun">+38 (000) 000 00 00</spun>
                </a>
            </li>
            <li class="contacts-list__item contacts-list__insta-icon">
                <a href="" class="link footer__insta-logo">
                    <!-- <svg class="insta-logo__svg" width="40px" height="40px">
                        <use href="/images/symbol-defs-taras.svg#footer-instagram-icon"></use>
                    </svg> -->
                </a>
            </li>
        </ul>
    </section>
    <section class="footer__copyright-section">
        <p class="copyright-section__text">@ All rights reserved, 2019</p>
    </section>
</footer>