<section class="hero">
  <div class="container">
    <div class="hero__left-side">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__text"><span class="hero__text__light">It won’t be easy.</span>But you are guaranteed to get +25
        points</p>
      <button class="hero__btn btn" type="button">i want a free lesson</button>
    </div>
    <div class="hero__right-side">
      <picture>
        <source srcset="" media="(min-width: 1366px)" type="image/webp">
        <source srcset="" media="(min-width: 1366px)">
        <source srcset="" media="(min-width: 768px)" type="image/webp">
        <source srcset="" media="(min-width: 768px)">
        <source srcset="" media="(min-width: 480px)" type="image/webp">
        <source srcset="" media="(min-width: 480px)">
        <img src="" alt="group of people" width="842">
      </picture>
    </div>
  </div>
</section>