<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a href="/" class="logo" aria-label="logo site"><span class="logo__bolt logo__img">Hell</span><span class="logo__bolt">En</span><br><span class="logo__accent">&nbspHellish&nbsp</span>English</a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">Studying program</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">About</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">Training options</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="modal-btn btn" type="button">Consultation by phone</button>
    <button class="burger-btn" data-menu-open>
      <svg class="burger__icon" width="20" height="12">
        <use href="./images/sprite-header.svg#burger-icon"></use>
      </svg>
    </button>
    
  </div>
    
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__conteiner">
      <div class="mobile-menu__wrapper">
        <a href="/" class="logo logo__mobile-menu" aria-label="logo site"><span class="logo__bolt logo__img">Hell</span><span
            class="logo__bolt">En</span><br><span class="logo__accent">&nbspHellish&nbsp</span>English</a>
        <button class="mobile-menu__close-btn" type="button" data-menu-close>
          <svg class="mobile-menu__close-btn-icon" width="16" height="16">
            <use href="./images/sprite-header.svg#close-icon"></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-menu__nav-list">
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">Studying program</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">About</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">Training options</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">Contacts</a>
        </li>
      </ul>
      <button class="btn mobile-menu__modal-btn" type="button">Consultation by phone</button>
    </div>
  

  </div>
</header>