<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a href="/" class="logo" aria-label="logo site">
        <svg class="logo__icon-dark-mobile" width="80" height="29">
          <use href="./images/sprite-header.svg#dark-mobile"></use>
        </svg>
        <svg class="logo__icon-dark-tablet" width="128" height="45">
          <use href="./images/sprite-header.svg#logo-dark-tablet"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">Studying program</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">About</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">Training options</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="modal-btn btn" type="button">Consultation by phone</button>
    <button class="burger-btn" data-menu-open>
      <svg class="burger__icon" width="20" height="15">
        <use href="./images/sprite-header.svg#burger-menu"></use>
      </svg>
    </button>
    
  </div>
    
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__conteiner">
      <div class="mobile-menu__wrapper">
        <a href="/" class="logo logo__mobile-menu" aria-label="logo site">
          <svg class="logo__icon-light-mobile" width="80" height="29">
            <use href="./images/sprite-header.svg#logo-light-mobile"></use>
          </svg>
          <svg class="logo__icon-light-tablet" width="128" height="45">
            <use href="./images/sprite-header.svg#logo-light-tablet"></use>
          </svg>
        </a>
        <button class="mobile-menu__close-btn" type="button" data-menu-close>
          <svg class="mobile-menu__close-btn-icon" width="16" height="16">
            <use href="./images/sprite-header.svg#close-btn"></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-menu__nav-list">
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">Studying program</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">About</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">Training options</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-meny__link">Contacts</a>
        </li>
      </ul>
      <button class="btn mobile-menu__modal-btn" type="button">Consultation by phone</button>
    </div>
  

  </div>
</header>