<section class="hero">
  <div class="container hero-container">
    <div class="hero__left-side">
      <h1 class="hero__title title">Complex preparation for English UPE</h1>
      <p class="hero__text__light">It won’t be easy.</p>
      <p class="hero__text">But you are guaranteed to get <span class="hero__text__accent">+25 points</span></p>
      <button class="hero__btn btn" type="button">i want a free lesson</button>
    </div>
    <div class="hero__right-side">

      <picture>
        <!-- <source media="(min-width: 1680px)" type="image/webp"
          srcset="./images/hero/hero-foto-desktop.webp 1x, ./images/hero/hero-foto-desktop@2x.webp 2x"> -->
        <source media="(min-width: 1680px)"
          srcset="./images/hero/hero-foto-desktop.png 1x, ./images/hero/hero-foto-desktop@2x.png 2x">
        <!-- <source media="(min-width: 768px)" type="image/webp"
          srcset="/images/hero/hero-foto-tablet.webp 1x, /images/hero/hero-foto-tablet@2x.webp 2x"> -->
        <source media="(min-width: 768px)"
          srcset="/images/hero/hero-foto-tablet.png 1x, /images/hero/hero-foto-tablet@2x.png 2x">
        <!-- <source media="(max-width: 767px)" type="image/webp"
          srcset="/images/hero/hero-foto-mobile.webp 1x, /images/hero/hero-foto-mobile@2x.webp 2x"> -->
        <source media="(max-width: 767px)"
          srcset="/images/hero/hero-foto-mobile.png 1x, /images/hero/hero-foto-mobile@2x.png 2x">

        <img src="/images/hero/hero-foto-mobile.png" alt="people on training">
      </picture>

    </div>
  </div>
</section>