<section class="section section__how-do_padding container">
    <h2 class="title how-do__title_size">How do we do it</h2>
    <ul class="list how-do">
      <li class="how-do__item">
        <a href="" class="how-do__card">
          <svg class="how-do__icon" width="46" height="48">
            <use href="./images/sprite.svg#icon-1study-program"></use>
          </svg>
        <h3 class="how-do__title">Adapted program <br> preparation for UPE</h3>
        <p class="how-do__description">
          You will learn grammar and vocabulary at the same time. And you will learn how to write essays.
        </p>
        </a>
      </li>
      <li class="how-do__item">
        <a href="" class="how-do__card link">
          <svg class="how-do__icon" width="48" height="48">
            <use href="./images/sprite.svg#icon-2mobile-learning"></use>
          </svg>
        <h3 class="how-do__title">Classroom and online learning</h3>
        <p class="how-do__description">
          The teacher will help not only in the classroom, but also during home preparation. Parents can chat if they wish.
        </p>
        </a>
      </li>
      <li class="how-do__item">
        <a href="" class="how-do__card">
          <svg class="how-do__icon" width="68" height="48">
            <use href="./images/sprite.svg#icon-3open-book"></use>
          </svg>
        <h3 class="how-do__title">The habit of reading in English</h3>
        <p class="how-do__description">
          Articles from sources that are used in the development of this UPE will be received by phone twice a week.
        </p>
        </a>
      </li>
      <li class="how-do__item">
        <a href="" class="how-do__card">
          <svg class="how-do__icon" width="48" height="48">
            <use href="./images/sprite.svg#icon-4psihologal"></use>
          </svg>
        <h3 class="how-do__title">Psychological <br> support</h3>
        <p class="how-do__description">We will teach you testing techniques, the ability to plan your confidence training
          in itself.</p>
        </a>
      </li>
      <li class="how-do__item">
        <a href="" class="how-do__card">
          <svg class="how-do__icon" width="48" height="48">
            <use href="./images/sprite.svg#icon-5female-student"></use>
          </svg>
        <h3 class="how-do__title">Training on copyright manuals</h3>
        <p class="how-do__description">You don't have to waste your time
          on a search for material and to buy anything extra. We have compiled
          2 manuals for you.</p>
        </a>
      </li>
      <li class="how-do__item">
        <a href="" class="how-do__card">
          <svg class="how-do__icon" width="48" height="48">
            <use href="./images/sprite.svg#icon-6audio-book"></use>
          </svg>
        <h3 class="how-do__title">Ability to comprehend spoken English</h3>
        <p class="how-do__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly
          and analyze audio recordings
          in accordance with the studied vocabulary.</p>
        </a>
      </li>
    </ul>
</section>