<section class="section section-problem">
    <div class="container problem-container">

        <h2 class="problem-title">The main problems of students
            in English UPE, which<br>
            we <span class="problem-title__accent">help</span> to solve</h2>

        <div class="problem-list-wrapper">
            <ul class="problem-list list">
                <li class="problem-list__item">Grammar</li>
                <li class="problem-list__item">Inability to understand spoken English</li>
                <li class="problem-list__item">Stingy vocabulary for writing an essay</li>
                <li class="problem-list__item">Preparing alone</li>
                <li class="problem-list__item">Lack of a single knowledge resource</li>
                <li class="problem-list__item">Lack of self-organization and laziness</li>
            </ul>
        </div>
    </div>
</section>

