<section class="section program">
    <div class="container">
        <h2 class="program__title">Our program</h2>
        <div class="program__container">
        <ul class="program__semester">
            <li class="program__list">
                <h3 class="program__list-title">1 semester</h3>

                <ul class="program__group">
                    
                    <li class="program__group-list">
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Grammar</h4>
                                <p>Nouns & Articles</p>
                                <p>Adjectives & Adverb</p>
                            </li>
                        </ul>

                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Vocabulary</h4>
                                <p>Family & Relations</p>
                                <p>People & Society</p>
                            </li>
                        </ul>
                    </li>
                
                </ul>
            </li>

            <li class="program__list">
                <h3 class="program__list-title">2 semester</h3>
                <ul class="program__group">
                    <li class="program__group-list">
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Grammar</h4>
                                <p>Pronouns</p>
                                <p>Active Voice</p>
                                <p>Passive Voice</p>
                            </li>
                        </ul>
                        
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Vocabulary</h4>
                                <p>Home</p>
                                <p>School</p>
                                <p>Work</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list">
                <h3 class="program__list-title">3 semester</h3>
                <ul class="program__group">
                    <li class="program__group-list">
                       
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Grammar</h4>
                                <p>Modal verbs</p>
                                <p>Infinitive</p>
                                <p>Gerund</p>
                                <p>Participle: 1, 2</p>
                            </li>
                        </ul>
                        
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Vocabulary</h4>
                                <p>Travel & Tourism</p>
                                <p>Culture & Free</p>
                                <p>Time Sport</p>
                            </li>
                        </ul>
                        
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Writing</h4>
                                <p>Informal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list">
                <h3 class="program__list-title">4 semester</h3>
                <ul class="program__group">
                    <li class="program__group-list">
                        
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Grammar</h4>
                                <p>Clauses: Conditional <br />and Wishes</p>
                                <p>Direct / Reported <br />speech</p>
                                <p>Preposition</p>
                                <p>Conjunction</p>
                                <p>Numeral</p>
                            </li>
                        </ul>
                        
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Vocabulary</h4>
                                <p>Healthy Living</p>
                                <p>Nature & Environment</p>
                                <p>Money</p>
                            </li>
                        </ul>
                        
                        <ul class="program__catalog">
                            <li class="program__catalog-list">
                                <h4 class="program__catalog-title">Writing</h4>
                                <p>Formal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list">
                <h3 class="program__list-title">5 semester</h3>
    
                <ul class="program__catalog">
                    <li class="program__catalog-list">
                        <h4 class="program__catalog-title"></h4>
                        <p>Revision</p>
                        <p>Tests</p>
                    </li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
</section>