<section id="program" class="section program">   
    <div class="container program-container"> 
        <h2 class="program__title">Our program</h2>
            <div class="program-wrapper">

                <ul class="program__group">
                    <li class="program__list">
                        <h3 class="program__list-title">
                            <span class="program__list-title program__list-title--number">1</span> semester</h3>
                        <div class="program__group-list">
                            <ul class="program__catalog">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Grammar</h4>
                                    <p class="program__catalog-text">Nouns & Articles</p>
                                    <p class="program__catalog-text">Adjectives & Adverb</p>
                                </li>
                            </ul>
            
                            <ul class="program__catalog program__catalog--vocabulary">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Vocabulary</h4>
                                    <p class="program__catalog-text">Family & Relations</p>
                                    <p class="program__catalog-text">People & Society</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="program__list">
                        <h3 class="program__list-title">
                            <span class="program__list-title program__list-title--number">2</span> semester</h3>
                        <div class="program__group-list">
                            <ul class="program__catalog">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Grammar</h4>
                                    <p class="program__catalog-text">Pronouns</p>
                                    <p class="program__catalog-text">Active Voice</p>
                                    <p class="program__catalog-text">Passive Voice</p>
                                </li>
                            </ul>
            
                            <ul class="program__catalog program__catalog--vocabulary">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Vocabulary</h4>
                                    <p class="program__catalog-text">Home</p>
                                    <p class="program__catalog-text">School</p>
                                    <p class="program__catalog-text">Work</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="program__list">
                        <h3 class="program__list-title">
                            <span class="program__list-title program__list-title--number">3</span> semester</h3>
                        <div class="program__group-list">
                            <ul class="program__catalog">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Grammar</h4>
                                    <p class="program__catalog-text">Modal verbs</p>
                                    <p class="program__catalog-text">Infinitive</p>
                                    <p class="program__catalog-text">Gerund</p>
                                    <p class="program__catalog-text">Participle: 1, 2</p>
                                </li>
                            </ul>
            
                            <ul class="program__catalog program__catalog--vocabulary">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Vocabulary</h4>
                                    <p class="program__catalog-text">Travel & Tourism</p>
                                    <p class="program__catalog-text">Culture & Free</p>
                                    <p class="program__catalog-text">Time Sport</p>
                                </li>
                            </ul>
            
                            <ul class="program__catalog program__catalog--writing">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Writing</h4>
                                    <p class="program__catalog-text">Informal Letter</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="program__list">
                        <h3 class="program__list-title">
                            <span class="program__list-title program__list-title--number">4</span> semester</h3>
                        <div class="program__group-list">
                            <ul class="program__catalog">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Grammar</h4>
                                    <p class="program__catalog-text">Clauses: Conditional <br />and Wishes</p>
                                    <p class="program__catalog-text">Direct / Reported speech</p>
                                    <p class="program__catalog-text">Preposition</p>
                                    <p class="program__catalog-text">Conjunction</p>
                                    <p class="program__catalog-text">Numeral</p>
                                </li>
                            </ul>
            
                            <ul class="program__catalog program__catalog--vocabulary">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Vocabulary</h4>
                                    <p class="program__catalog-text">Healthy Living</p>
                                    <p class="program__catalog-text">Nature & Environment</p>
                                    <p class="program__catalog-text">Money</p>
                                </li>
                            </ul>
            
                            <ul class="program__catalog program__catalog--writing">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Writing</h4>
                                    <p class="program__catalog-text">Formal Letter</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="program__list">
                        <h3 class="program__list-title">
                            <span class="program__list-title program__list-title--number">5</span> semester</h3>
                        <div class="program__group-list">
                            <ul class="program__catalog">
                                <li class="program__catalog-list">
                                    <h4 class="program__catalog-title">Grammar</h4>
                                    <p class="program__catalog-text">Revision</p>
                                    <p class="program__catalog-text">Tests</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>