.about__experience-list {
    font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.06em;
color: var(--second-text-color);
}

.about__experience-list{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
.about__experience-list:before{
    content: '✔';
    position: absolute; top: 0; left: -10px;
    color: var(--accent-color);
}

.about__content {
    padding-bottom: 20px;
}

.about__content::after{
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    position: absolute; 
    background-color: var(--accent-color);
}

.about__exile-license {
    font-weight: 500;
font-size: 12px;
line-height: 1.67;
text-decoration-line: underline;
color: #FF6B09;
}

.about__education {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #B9B9B9;
    }


    .about__education:last-child {
        padding-bottom: 20px;}