
@media screen and (min-width: 768px) {
    .about__main-container {
        display: flex;
    }
}


.about__title {
    font-weight: 800;
font-size: 20px;
line-height: 2.6;
letter-spacing: 0.03em;
color: #111518;
}


    @media screen and (min-width: 768px) {
        .about__image {
            padding-right: 60px;

        }
        .about__title {
            padding-bottom: 20px;
        }
    }

.about__title-image {
font-weight: 800;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.08em;
color: #111518;
padding-bottom: 8px;
}

.about__title-image {
    border-bottom: 1px solid #B9B9B9;
}

.about__experience-list {
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.06em;
color: var(--second-text-color);

padding-left: 20px;
position: relative;
}

.about__experience-list:last-child {
    padding-bottom: 26px;
}

.experience-margin {
    margin: 10px;
}

.about__experience {
    padding-bottom: 20px;
}

.about__experience-list:before{
    content: '✔';
    position: absolute; top: 0; left: -10px;
    color: var(--accent-color);
}

.about__content {
    padding-bottom: 20px;
}

.about__experience::after{
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    position: absolute; 
    background-color: var(--accent-color);
}

.about__experience {
padding-bottom: 20px;
}
.education__exile-license {
    font-weight: 500;
font-size: 12px;
line-height: 1.67;
text-decoration-line: underline;
color: #FF6B09;
}

.education__exile {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #B9B9B9;
    }

    .exile-padding {
        padding-bottom: 8px;
      }

      @media screen and (min-width: 768px) {
        .exile-padding {
            padding-bottom: 24px;
          }
        }

    @media screen and (min-width: 768px) {
        .education__exile {
            font-size: 10px;
            line-height: 2.0;
    }
    }


.padding-mobile {
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .about__experience-list {
    margin: 20px;
}
}