
.advantages-list__item {
display: flex;
align-items: center;
width: 100%;
&:not(:last-child){
    margin-bottom: 30px;
}
}
.advantages-list_item_first::before {
    display: block;
    content: '';
    background-image: url(/images/icon-female-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 59px;
    height: 60px;
    margin-right: 12px;
}

.advantages-list__item_second::before {
    display: block;
    content: '';
    background-image: url(/images/icon-mobile-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 59px;
    height: 60px;
    margin-right: 12px;
}

.advantages-list__item_third::before{
    display: block;
        content: '';
        background-image: url(/images/icon-financial-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 59px;
        height: 60px;
        margin-right: 12px;
    }
        .advantages-list__text {
            display: flex;
            width: 209px;
            padding-right: 30px;
            color: var(--second-text-color);
            font-weight: 700;
            line-height: 1.65;
            align-items: center;
        }

@media screen and (min-width: $tablet) {

    .advantages-list {
        display: flex;
    }
    .advantages-list__item {
        flex-basis: calc(100%/3 - 21px);
        &:not(:last-child) {
    margin-bottom: 0;
    margin-right: 21px;  
    }
}    
    .advantages-list__text {
    
        padding-right: 0;
        width: 146px;
    }
    .advantages-list__item_first::before {
        margin-right: 10px;
        }
    .advantages-list__item_second::before {
        margin-right: 15px;
    }
    .advantages-list__item_second::before {
        margin-right: 17px;
    }
}
@media screen and (min-width: $desktop){
    .advantages-list__item{
        position: relative;
        flex-basis: calc(100%/3 - 112px);
    
    &:not(:last-child) {
        margin-right: 112px;
    }
}
    .advantages-list_item_first::before {
        background-image: url(/images/icon-female.svg);
        width: 100px;
        height: 102px;
        margin: 0;
        }
    
        .advantages-list__item_second::before {
        background-image: url(/images/icon-mobile.svg);
        width: 100px;
        height: 102px;
        margin: 0;
        }
    
        .advantages-list__item_third::before {
        background-image: url(/images/icon-financial.svg);
        width: 100px;
        height: 102px;
        margin: 0;
        }
    .advantages-list__text {
    position: absolute;
    top: 18px;
    left: 82px;
    padding-right: 130px;
    width: 366px;
    font-size: 20px;
    }
}
