.contacts-section {
padding-top: 40px;
padding-bottom: 40px;
background: var(--secondary-background-color);
text-align: center;

@media screen and (min-width:$tablet) {

}

@media screen and (min-width:$desktop) {
padding-top: 80px;
padding-bottom: 80px;
}
// background-image: linear-gradient(to right,
//     rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)), 
// url(../../images/contact-mobile.jpg);
// background-repeat: no-repeat;
// background-position: center;
// background-size: cover;
}

.contacts-title {
    font-size: 14px;
    text-align: center;
    color: var(--third-text-color);

    @media screen and (min-width:$tablet) {
        font-size: 26px;
    }

    @media screen and (min-width:$desktop) {
        font-size: 46px;
    }
}
.contacts-text {
    @media screen and (min-width:$tablet) {
            font-size: 14px;
            line-height: 1.21;
        }
    
    @media screen and (min-width:$desktop) {
           font-size: 30px;
           line-height: 1.23;
        }
}
.contacts-spun { 
    color: var(--accent-color)
}

.contacts__subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width:$mobile) {
    width: 280px;
    }
    @media screen and (min-width:$tablet) {
    width: 336px;
    }
    @media screen and (min-width:$desktop) {
    width: 528px;
    }
}

.modal-imput {
    height: 70px;
}