.header {
  // position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  display: inline-block;
  line-height: 0;
}

.logo__icon-dark-mobile {
  width: 80px;
  height: 29px;

}

.nav-list{
  display: none;
}

.modal-btn{
  display: none;
}

.burger-btn{
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.burger__icon{
  width: 21px;
  height: 12px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .burger-btn:hover &,
  .burger-btn:focus &{
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(17, 21, 24, 0.9);
  transform: scalex(0);
  visibility: hidden;
  pointer-events: none;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: scalex(1);
    visibility: visible;
    pointer-events: auto;

  }
}

.mobile-menu__container {
 
   padding-top: 20px;
  
}

.icon-logo-white-mobile {
  width: 80px;
  height: 29px;
}

.mobile-menu__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mobile-menu__close-btn{
  
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-btn-icon{
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .mobile-menu__close-btn:hover &,
  .mobile-menu__close-btn:focus & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.mobile-menu__nav-list{
  margin-bottom: 40px;
}

.mobile-menu__link {

  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.mobile-menu__modal-btn{
  min-height: 48px;
  min-width: 278px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--third-text-color);
    background-color: var(--accent-color);
  }
}

.modal-btn{
  scale: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

.nav-list__link{
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (min-width: $tablet) {
  .header {
    padding-top: 40px;
  }

  .mobile-menu__container {
      padding-top: 40px;
    }

  .mobile-menu__wrapper{
    margin-bottom: 80px;
  }

.logo__icon-dark-mobile{
   width: 128px;
   height: 45px;
  }
 
.icon-logo-white-mobile {
   width: 128px;
   height: 45px;
    }

.modal-btn {
    display: block;    
    min-height: 48px;
    min-width: 260px;
    padding: 15px 5px 16px;
    margin-right: 40px;
    margin-left: auto;
    transition: color 750ms cubic-bezier(0.4, 0, 0.2, 1), background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      color: var(--third-text-color);
      background-color: var(--accent-color);
      
    }
  }

.mobile-menu__modal-btn {
    display: none;
}
  
.mobile-menu__nav-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

   .mobile-menu__link {
  
      font-weight: 800;
      font-size: 26px;
      line-height: 1.8;
      letter-spacing: 0.03em;
    }
}


@media screen and (min-width:$desktop){
  .burger-btn {
    display: none;
  }

  .navigation{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 40px;
  }

  .logo{
    margin-right: auto;
  }

  .logo__icon-dark-mobile:hover,
  .logo__icon-dark-mobile:focus {
    animation: changeColorLogo 1000ms linear 500ms forwards, rotateLogo 1500ms linear;
  }
  
  @keyframes rotateLogo {
    0% {
      transform: rotatey(0deg);
    }
  
    100% {
      transform: rotatey(360deg);
    }
  }
  
  @keyframes changeColorLogo {
    0% {
      fill: #111518;
    }
  
    100% {
      fill: #ff6b09;
    }
  }

  .nav-list {
    display: flex;
  }

  .nav-list__item:not(:last-child){
    margin-right: 40px;
  }

  .nav-list__link{
    padding: 10px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      color: var(--accent-color);
    }
  }

  .modal-btn {
    min-width: 336px;
    min-height: 70px;
    margin: 0;
    padding: 26px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
}


