.hero{
  padding-top: 90px;
<<<<<<< HEAD
  padding-bottom: 40px;
  background-image: url(/images/hero-mob-bgi.png);
=======
  padding-bottom: 60px;
  background-image: url(/images/hero-mob-bgi.png);
  background-size: cover;
>>>>>>> main
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
  .hero {
    background-image: url(/images/hero-mob-bgi@2x.png);
  }
}

.hero__title{
  margin-bottom: 8px;
  font-size: 20px;
}

.hero__text__light{
  font-weight: 500;
  line-height: 1.57;
}

.hero__text{
  font-weight: 700;
  line-height: 1.57;
  color: var(--second-text-color);
}

.hero__text__accent{
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--accent-color);
}

.hero__btn{
  min-width: 280px;
  min-height: 48px;
  
  padding: 14px 0;
  margin-bottom: 40px;
  
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.14em;
  transition: background-color var(--time-animation) var(--animation), box-shadow var(--time-animation) var(--animation);

  &:hover,
  &:focus{
    background-color: #ec640a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: $tablet){
  .hero {
<<<<<<< HEAD
    padding-top: 166px;
    padding-bottom: 80px;
=======
    padding-top: 169px;
    padding-bottom: 46px;
>>>>>>> main
    background-image: url(/images/hero-tab-bgi.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(/images/hero-tab-bgi@2x.png);
    }
  }

  .hero-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero__left-side{
    margin-left: 10px;
    flex-basis: 332px;
  }

  .hero__title {
    font-size: 26px;
  }

  .hero__text__accent {
    margin-bottom: 48px;
  }

  .hero__btn{
    min-width: 260px;
    margin: 0;
  }

  .hero__right-side {
    flex-basis: 376px;
  }
}

@media screen and (min-width: $desktop){
  .hero {
    padding-top: 150px;
<<<<<<< HEAD
    padding-bottom: 46px;
=======
    padding-bottom: 6px;
>>>>>>> main
    background-image: url(/images/hero-desk-bgi.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(/images/hero-desk-bgi@2x.png);
    }
  }

  .hero__left-side {
    flex-basis: 560px;
    padding: 0;
  }

  .hero__title {
    font-size: 58px;
  }

  .hero__text__light {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.65;
  }

  .hero__text {
    font-size: 20px;
    line-height: 1.57;
    margin-bottom: 48px;
  }
  
  .hero__text__accent {
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
    color: var(--second-text-color);
  }

  .hero__btn {
    min-width: 354px;
    min-height: 70px;
    padding: 26px 70px;
    font-size: 14px;
    line-height: 1.21;
  }


  .hero__right-side {
    flex-basis: 842px;
  }
}