@media screen and (max-width:767px) {
    .how-do__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
      .how-do__card {
        margin-left: auto;
        margin-right: auto;
        min-height: 280px;
      }

      .section__how-do_padding {
        padding-top: 40px;

        @media screen and (min-width: $desktop) {
          padding-top: 80px;
          
        }
      }
  }
  

    .how-do {
      
      &__card {
        background-color: var(--third-text-color);
        padding-top: 32px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 32px;
        min-height: 280px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
        transition: var(--animation), var(--time-animation);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--third-text-color);
        }
      }
     
      &__title {
        position: relative;
        text-align: center;
        font-size: inherit;
        font-weight: 700;
        color: var(--second-text-color);
        line-height: 1.42;
        margin-bottom: 40px;
        letter-spacing: 0.08em;

        .how-do__card:hover &,
        .how-do__card:focus & {
            color: var(--third-text-color);
        }

        &::after {
    content: '—';
  color: var(--accent-color);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);

  .how-do__card:hover &,
  .how-do__card:focus & {
  color: var(--third-text-color);
}
        }
      }

      &__description {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.08em;

  .how-do__card:hover &,
  .how-do__card:focus & {
  color: var(--third-text-color);
}
      }
      
      &__icon {
        fill: var(--accent-color);
        margin-bottom: 20px;

        .how-do__card:hover &,
        .how-do__card:focus & {
            fill: var(--third-text-color);
        }
      }
    }

    .how-do__title_size {
      font-size: 20px;
      text-align: center;
      margin-bottom: 26px;
  }


    @media screen and (min-width:768px){
      .how-do {
        display: flex;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-top: -24px;

        &__item {
          flex-basis: calc(100% / 2 - 32px);
          margin-top: 24px;
          margin-left: 32px;
        }

        &__card {
          min-height: 336px;
          height: 100%;
          padding: 40px 22px;
        }

        &__title_size {
            font-size: 26px;
        }
        }

        .section__how-do_padding {
          padding-top: 169px;
        }
      }
    
  
    @media screen and (min-width:1680px){
      .how-do {
      margin-top: -32px;
       margin-left: -32px;

        &__item {
          flex-basis: calc(100% / 3 - 32px);
          margin-top: 32px; 
          margin-left: 32px;
        }

        &__card {
        padding: 90px 80px;
        min-height: 492px;
        }

        &__title {
            font-size: 20px;
            line-height: 1.4;
        }

        &__description {
          font-size: 18px;
          line-height: 1.55;
          text-align: center;
          }

          &__title_size {
            font-size: 46px;
            text-align: start;
            margin-bottom: 80px;
        }
      }

      .section__how-do_padding {
        padding-top: 212px;
      }
    }