.program {
    background: var(--secondary-background-color);
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
}
.program-container {
    padding-left: auto;
    padding-right: auto;
    position: relative;

    &::after {
        position: absolute;
    
        content: '';
        display: block;
        width: 150px;
        height: 137px;
        right: 0;
        bottom: 0;
        background-color: var(--hero-background-color);
        background-image: url(/images/program/program-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(/images/program/program-mobile@2x.png);
        }
    }
}
.program__title {
    margin-bottom: 40px;
    text-align: center;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.30;
    letter-spacing: 0.03em;
    
    color: var(--third-text-color);
}
.program__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program__list {
    position: relative;
    padding-left: 26px;
    width: 190px;

    &:not(:last-child) {
        padding-bottom: 40px;
        border-left: 1px solid var(--third-text-color);
    }
    &:last-child {
        margin-bottom: 105px;
    }
    &::before {
        position: absolute;
        left: 0;
        transform: translate(-60%);
    
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 7.5px;

        background-color: var(--accent-color);
    }
}
.program__list-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    
    color: var(--third-text-color);

}
.program__catalog {
    &:not(:last-child) {
        margin-bottom: 4px;
    }
}
.program__catalog-title {
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 12px;
    line-height: 1.65;
    
    color: var(--accent-color);

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 2px;
        margin-right: 5px;
        background-color: var(--accent-color);
    }
}
.program__catalog-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    opacity: 0.5;
}

@media screen and (min-width: $tablet) {

    .program-container {
        &::after {
            position: absolute;

            content: '';
            display: block;
            width: 368px;
            height: 268px;
            right: 0;
            bottom: 40px;

            background-color: var(--hero-background-color);
            background-image: url(/images/program/program-tablet.png);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/images/program/program-tablet@2x.png);
            }
        }
    }
    .program__title {
        text-align: left;
        font-size: 26px;
        margin-top: 20px;
    }
    .program__group {
        padding-left: 71px;
    }
    .program__list {
        padding-left: 113px;
        width: 100%;
        &:last-child {
            margin-bottom: 160px;
        }
    }
    .program__group-list {
        display: flex;
    }
    .program__catalog {
        width: 152px;
        
        &:not(:last-child) {
            margin-right: 32px;
            margin-bottom: 0;
        }

        &--writing {
            width: 110px;
        }
        &--vocabulary {
            width: 155px;
                
            &:not(:last-child) {
                margin-right: 29px;       
            }
        }
    }
}

@media screen and (min-width: $desktop) {

    .program__title {
        margin-bottom: 88px;
        margin-top: 0;

        font-size: 46px;
    }
    .program__group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 48px;
        padding-left: 140px;

        border-top: 1px solid #FFFFFF;
    }
    .program__list {
        padding-left: 0;
        
        margin-right: 40px;
        margin-bottom: 0;
        margin-left: 0;

        &:not(:last-child) {
            padding-bottom: 0;
            border-left: none;
        }
        &:last-child {
            margin-right: 0;
            margin-bottom: 537px;
        }
        &::before {
            display: none;
        }
    }
    .program__list-title {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 1.40;
        
        &--number {
            font-size: 30px;
            line-height: 0.93;
        }
        &::before {
            position: absolute;

            content: "";
            display: block;
            transform: translate(0, -56px);
            width: 17px;
            height: 16px;

            border-radius: 7.5px;
            background-color: var(--accent-color);
        }
    }
    .program__group-list {
        display: block;
    }
    .program__catalog {
        width: 240px;
        &:not(:last-child) {
            margin-bottom: 24px;
            margin-right: 0;
        }
    }
    .program__catalog-title {
        margin-bottom: 8px;
        font-size: 20px;
    }
    .program__catalog-text {
        font-size: 18px;
        line-height: 1.56;
    } 
    .program-container {
        &::after {
            position: absolute;
    
            content: '';
            display: block;
            width: 684px;
            height: 381px;
            left: 0;
            bottom: -80px;
    
            background-color: var(--hero-background-color);
            background-image:  url(/images/program/program-desktop.png);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
    
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image:  url(/images/program/program-desktop@2x.png);
            }
        }
    }
}